.main_report{
    border: 1px solid;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.filter_options{
    border-bottom:1px solid;
    border-radius:10px;
}
.entry_type{
    margin:20px;
}
.report_header{
    text-align: center;
    border-bottom: 1px solid;
}

.child_row{
    width:100%;
    margin-top: 5px;
    height: 30px;
}
.child_col_name{
    width:40%;
}
.child_col_bal{
    width:25%;
}
.vertical_report tr{
    background: #FAF2F1;
}
.vertical_report tr:nth-child(odd){
    background: #B2AAA4;
}
.vertical_report tr:nth-child(even){
    background: #D9D5D2;
}
.horizontal_report_left tr{
    background: #FAF2F1;
}
.horizontal_report_left tr:nth-child(odd){
    background: #B2AAA4;
}
.horizontal_report_left tr:nth-child(even){
    background: #D9D5D2;
}
.horizontal_report_right tr{
    background: #FAF2F1;
}
.horizontal_report_right tr:nth-child(odd){
    background: #B2AAA4;
}
.horizontal_report_right tr:nth-child(even){
    background: #D9D5D2;
}

